<div id="header-container">
  <header class="wrapper clearfix">
  <h1 id="title"><!-- Page title goes here --></h1>
  <nav>
  <ul>
  </ul>
  </nav>
  <% if logged_in? %> 
    <%= link_to 'logout', logout_path, method: :delete %>
  <% else-%>
    <%= link_to 'register', new_user_path %>|
    <%= link_to 'login', login_path %>
  <% end -%>
  </header>
</div>

