<div id="header-container">
  <header class="wrapper clearfix">
  <h1 id="title"><!-- Page title goes here --></h1>
  <nav>
  <ul>
    <!-- li><a href="#">nav ul li a</a></li -->
  </ul>
  </nav>
  </header>
</div>

